body{
  margin: 500px;
  margin-top: 0;
}
.App {
  text-align: center;
}
.delete{
  margin:20px
}
.pageDiv{
  margin-top: 50px;
}.TodoName {
  font-size: 20px;
  font-weight: bold;
}#listFlex{
  display: flex;
  justify-content: space-between;
}#listFlex div:nth-child(1){
  margin-top: 15px;
}
